img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding:15px;
}
body{
  width: 600px; 
  margin: auto;
  background-image: url(https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png);
}
  
.class-name{
  color:white
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
  
h1 {
  color: red;
  font-size: 2.4rem;
}
  
p {
  font-size: 1.0rem;
  color: olive;
  font-style:italic;
}
  
div{
  font-size:0.9rem;
  font-weight:bold;
  padding:5px;
}
  
h2{
  text-align: center;
  font-size:1.2rem;
  background-color:lightblue;
  font-style:oblique;
  width:600px;
}
  
h2+ul{
  border-bottom: solid red;
}
  
.title{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: red;
  color:white;
  align-items: center;
}

li,a{
  text-decoration:none;
  color:white;
  list-style: none;
  
  padding:5px;
}
  
a{
  margin-left:auto;
  margin-right:auto;
}

ul{
  display:flex;
  padding:0;
  gap:8px;
  justify-content: stretch;
  li{
    align-content:center;
    flex:1;
    background-color:brown;  
  }
}

h6{
  border-top:5px;
  border-color:white;
  color:white;
}